[submodule "services/appointment-service"]
	path = services/appointment-service
	url = https://github.com/Cookie-Boy/appointment-service.git
[submodule "services/telegram-bot-service"]
	path = services/telegram-bot-service
	url = https://github.com/Cookie-Boy/telegram-bot-service.git
